
<header class="login_pic">
</header>



<div class="row">
  <div class="large-6 large-centered small-12 small-centered columns">
    <div class="login-panel">
      <h2 id="signup_header"> Login!</h2>
      <%= form_for :session, url: '/login', html: {id: "login"} do |f| %>


      <% if flash[:login_fail] %>
      <%= flash[:login_fail] %>
      <% end %>


      <div class="row">
        <div class="large-10 large-centered small-11 small-centered columns">
          <%= f.text_field :email, placeholder: "Email" %>
        </div>
      </div>

      <div class="row">
        <div class="large-10 large-centered small-11 small-centered columns">
         <%= f.password_field :password, placeholder: "Password" %>
       </div>
     </div>
      <%=f.submit "Login", :class => "button" %>

     <% end %>

   </div>
 </div>
</div>
