<div class="row" id="ribbon-header">
</div>

<div id="network-members-container">


  <div class="row">
    <div class="small-12 medium-12 large-12 columns">
      <p class="table-name">Professionals</p>
      <table class="members-table">
        <thead>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Alternative Email</th>
          <th>Charity</th>
          <th>Location</th>
          <th>Edit</th>
          <th>Live</th>
          <th>Delete</th>
        </thead>

        <% @advisors.each do |advisor| %>

        <div class="row">
          <tbody>
            <tr>
              <td><%= link_to advisor.firstname, advisor_path(advisor) %> </td>
              <td><%= advisor.lastname %></td>
              <td><%= advisor.email %></td>
              <td><%= advisor.alternative_email %></td>
              <td><%= advisor.charity %></td>
              <td><%= advisor.location %></td>
              <td><%= link_to "", advisor_path(advisor), class: "fa fa-edit" %></td>
              <%if advisor.account_activated == false %>
              <td><%= link_to "",  {:action => :activate, :controller => :advisors, :id => advisor.id}, :method => :patch, class: "fa fa-times" %></td>
              <% else %>
              <td><%= link_to "",  {:action => :de_activate, :controller => :advisors, :id => advisor.id}, :method => :patch, class: "fa fa-check" %></td>
              <% end %>
              <td><%= link_to "", advisor, :data => {:confirm => 'Are you sure you want to remove this professional from the Network? This cannot be undone.'}, :method => :delete, class: "fa fa-trash" %> </td>
            </tr>
          </tbody>
        </div>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-12 large-12 columns">
      <p class="table-name">Hob Nob Users</p>
      <table class="members-table">
        <thead>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Student</th>
          <th>School</th>
          <th>Program</th>
          <th>Graduation Date</th>
          <th>Delete</th>
        </thead>

        <% @users.each do |user| %>

        <div class="row">
          <tbody>
            <tr>
              <td><%= link_to user.first_name, user_path(user) %> </td>
              <td><%= user.last_name %></td>
              <td><%= user.email %></td>
              <td><%= user.student %></td>
              <td><%= user.school %></td>
              <td><%= user.program %></td>
              <td><%= user.graduation_date %></td>
              <td><%= link_to "", user, :data => {:confirm => 'Are you sure you want to remove this user? This cannot be undone.'}, :method => :delete, class: "fa fa-trash" %> </td>
            </tr>
          </tbody>
        </div>
        <% end %>
      </table>
    </div>
  </div>
</div>