<header class="calendar_page">
</header>

<h1> Create appointment </h1>



<%= form_for @potential_appointment do |f| %>


<div class="row">
  <div class="small-11 small-centered medium-10 large-7 columns">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
</div>

<div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
<%= f.label :date %>
<%= date_field(:appointment_date,"date") %>
</div>
</div>


<div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
<%= f.label :Start_Time %>
<%= time_select 'potential_appointment', 'start_time', {ampm: true}
%>
</div>
</div>

<div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
<%= f.label :End_Time %>
<div> <%= time_select 'potential_appointment', 'end_time', {ampm: true}
%></div>

</div>
</div>

<<div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
<%= f.submit "Create" %>
</div>
</div>






<%= month_calendar events: @all_appointments do |date, appointments| %>
<%= date.day %>

<% appointments.each do |appointment| %>
<div>
  <%= appointment.title %>
</div>
<% end %>
<% end %>
<% end %>





