<header class="calendar_page">
</header>

<h1> Create appointment </h1>
<%= form_for @potential_appointment do |f| %>

<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :date %>
<%= date_field(:appointment_date,"date") %>

<%= f.label :Start_Time %>
<%= time_select 'potential_appointment', 'start_time', {ampm: true}
%>
<%= f.label :End_Time %>
<%= time_select 'potential_appointment', 'end_time', {ampm: true}
%>
<%= f.submit "Create" %>



<%= month_calendar events: @all_appointments do |date, appointments| %>
<%= date.day %>

<% appointments.each do |appointment| %>
<div>
  <%= appointment.title %>
</div>
<% end %>
<% end %>
<% end %>

