    <% if flash[:errors] %>
    <% flash[:errors].each do |msg| %>
    <p class="error-message"><%= msg %></p>
    <% end %>
    <% end %>

<header class="hero">
</header>


    <%= form_for @user do |f| %>
    <div class="row">
        <div class="large-4 columns">
            <%= f.text_field :first_name, placeholder: "First Name" %>
        </div>
    </div>

    <div class="row">
        <div class="large-4 columns">
           <%= f.text_field :last_name, placeholder: "Last Name" %>
       </div>
   </div>
   <div class="row">
    <div class="large-4 columns">
     <%= f.text_field :email, placeholder: "Email" %>
 </div>
</div>
<div class="row">
    <div class="large-4 columns">
     <%= f.password_field :password, placeholder: "Password" %>
 </div>
</div>
<div class="row">
    <div class="large-4 columns">
     <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
 </div>
</div>
<div class="row">
    <div class="large-4 columns">
        Current Student
        <br>
        Yes <%= radio_button("user","student",true) %>
        <br>
        No <%= radio_button("user","student",false) %>
    </div>
</div>
<div class="row">
    <div class="large-4 columns">
        <%= f.text_field :program, placeholder: "Program" %>
    </div>
</div>
<div class="row">
    <div class="large-4 columns">
        Expected Graduation Date
        <%= f.select :graduation_date, (2016..2030) %>
    </div>
</div>

<div class="row">
    <div class="large-4 columns">
     <%=f.submit "Register" %>
 </div>
</div>

<% end %>
