<h1>Your Profile</h1>
<%= image_tag @user.avatar.url(:medium) %>
<div class="spacer"></div>
<%= @user.firstname %>
<div class="spacer"></div>
<%= @user.last_name %>
<div class="spacer"></div>
<%= @user.email %>
<div class="spacer"></div>
<%= @user.school %>
<div class="spacer"></div>
<%= @user.program %>
<div class="spacer"></div>
<%= @user.graduation_date %>