
<header class="hero" id="about_hero">
  <img src="assets/about_header.png"/>
  <div class="row hide-for-small" id="about-subtext">
    <p>Differentiate yourself in a competitive market</p>
  </div>
  <div class="row show-for-small" id="about_hero_small">
    <div class="small-12 medium-12 large-12 columns" id="about_hero_text">
      <p>Differentiate yourself in a competitive market</p>
    </div>
  </div>
</header>

<div class="about-parallax-content" id="about_parallax_content">
  <div class="about_container_1">
    <div class="row">

      <div class="small-12 medium-12 large-10 large-centered columns" id="about_container_1_subtext">
        <div id='4' class='about-first-p'>
          <p id='info-4'>HOB NOB IS AN OPPORTUNITY TO CONNECT DIRECTLY WITH FINANCE PROFESSIONALS. THE COMPLEXITIES OF A CAREER IN THE FINANCE INDUSTRY CAN BE DIFFICULT TO NAVIGATE ON YOUR OWN AND THE MORE TIME YOU SPEND CONNECTING WITH PROFESSIONALS IN YOUR CHOSEN FIELD, THE BETTER CHANCE YOU WILL HAVE TO UNCOVER AN INCREDIBLE CAREER OPPORTUNITY.</p>

          <p class='about-toggle' id='info4' >The informational interview and network connection are one some of the most effective ways for you to differentiate yourself from other applicants in a very competitive market. Taking the time to get inside information will better prepare you will be for a meeting, an interview or an opportunity to make a great first impression. Hob Nob is not a job site; this is a professional networking site to find out more about different areas of finance and about the people that work in them. Please respect the privacy and time of the busy professionals in the Network.
            <span>
              <br>
              <br>
              Hob Nob provides you direct access, it saves you time, decreases frustration levels, and allows you to tailor your search to meet your needs.
              The Hob Nob Network professionals were selected because they have a great story to share. Each person has expertise in one or several
              areas of Finance, and they want to speak with you about your career. Everyone has volunteered their time and energy and is supporting their
              industry, community, and charity of choice. A portion of all fees represents a donation to a charity on behalf of the Finance professional.
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>


  <h3 class="standard-heading">3 Simple Steps</h3>
  <div class="about_container_2">
    <div class="row">
      <div class="small-12 medium-12 large-4 columns" id="about-box">
        <h1><i id='search' class="fa fa-search"></i></h1>
        <h3>Search</h3>
        <ul class='search-list'>
          <li>Over 100 professionals on the HOB NOB Network</li>
          <li>Use any GET NETWORKING! button to search</li>
          <li>Everyone has a great story to share with you</li>
          <br>
          <li>Refine your search by area of expertise, level of experience,
            and location</li>
          </ul>
          <div class="hide-for-large-up">
            <button id='area_of_expertise_phone' class="button" type="button">AREAS OF EXPERTISE(5)</button>
            <button id='locations_phone' class="button" type="button">LOCATIONS</button>
            <button id='years_phone' class="button" type="button">YEARS OF EXPERIENCE(3)</button>
          </div>
        </div>

        <div class="small-12 medium-12 large-4 columns" id="about-box">
          <h1><i id='pointer' class="fa fa-hand-pointer-o fa-lg"></i></h1>
          <h3>Select</h3>
          <ul class='search-list'>
            <li>Review your search profiles</li>
            <li>Check available dates & times</li>
            <li>Select professionals that have the expertise you want</li>
            <br>
            <li>Think about the answers you seek and select a professional
              with that best meets your needs</li>
            </ul>
            <div class="hide-for-large-up">
              <button id='question_phone' class="button" type="button">POSSIBLE QUESTIONS</button>
            </div>
          </div>

          <div class="small-12 medium-12 large-4 columns" id="about-box-3">
            <h1><i id='pointer' class="fa fa-globe fa-lg"></i></h1>
            <h3>Connect</h3>
            <ul class='search-list'>
              <li>You searched the network</li>
              <li>You selected the professionals you wanted to speak with</li>
              <li>You verified your availability of date and time</li>
              <br>
              <li>The last steps: secure the connection by clicking GET
                CONNECTED and then click CHECK OUT</li>
              </ul>
              <div class="hide-for-large-up">
                <button id='fee_phone' class="button" type="button">AREAS OF EXPERTISE(5)</button>              </div>
              </div>

            </div>
            <div class="show-for-large-up" id="buttons-holder">
              <div class="large-4 columns" id='about-box'>
                <button id='area_of_expertise' class="button" type="button">AREAS OF EXPERTISE(5)</button>
                <button id='locations' class="button" type="button">LOCATIONS</button>
                <button id='years' class="button" type="button">YEARS OF EXPERIENCE(3)</button>
              </div>
              <div class="large-4 columns" id='about-box'>
                <button id='questions' class="button" type="button">POSSIBLE QUESTIONS</button>
                <br>
                <br>
                <br>
                <br>
                <br>
              </div>
              <div class="large-4 columns">
                <button id='fees' class="button" type="button">FEES</button>            </div>
              </div>
            </div>


            <%= render partial: "popup_categories" %>
            <%= render partial: "popup_levels" %>
            <%= render partial: "popup_locations" %>
            <%= render partial: "popup_years" %>
            <%= render partial: "popup_questions" %>
            <%= render partial: "popup_fees" %>
            <%= render partial: "popup_categories_phone" %>
            <%= render partial: "popup_locations_phone" %>
            <%= render partial: "popup_years_phone" %>
            <%= render partial: "popup_question_phone" %>
            <%= render partial: "popup_question_fees" %>






            <div id='blanket' style='display:none'></div>

            <div class="container" id="about-container">
             <p>If there is a specific role or area you would like to explore and we do not have anyone in the Network, please
              contact us and we will find you a connection. Please contact karen@thepelikangroup.com</p>
            </div>
            <div id="pelikan-logo">
              <img src="/assets/pelikan_logo.png"/>
            </div>
            <footer class="footer" id="parallax-footer">
              <p class="slogan"><img id="nav_logo" src="/assets/hn_logo_small.png"/></p>

              <div class="links">
                <%= link_to "Home", root_path %>
                <p>  •  </p>
                <%= link_to "About", about_path %>
                <p>  •  </p>
                <%= link_to "Network", advisors_path %>
                <p>  •  </p>
                <%= link_to "The Network's Charities", " http://www.thepelikangroup.com/charities.html" , :target => "_blank" %>
              </div>

              <p class="copywrite">Pelikan Group Inc.</p>

            </footer>s
          </div>

        </div>

