  <header class="hero" id="home-hero">
    <img src="/assets/meeting_header1.png"/>
    <div class="row hide-for-medium-down" id="main_hero">
      <div class="small-12 medium-12 large-12 columns" id="intro-text">
        <p id="header">HOB NOB</p>
      </div>
      <div class="small-12 medium-12 large-12 columns" id="intro-subtext">
        <p>Make strong career decisions today and in the future</p>
        <%= link_to "Get Networking!", advisors_path, class: "button" %>
      </div>
    </div>
    <div class="row show-for-medium" id="main_hero_med">
      <div class="small-12 medium-12 large-12 columns" id="intro-text">
        <p id="header">HOB NOB</p>
      </div>
      <div class="small-12 medium-12 large-12 columns" id="intro-subtext">
        <p>Make strong career decisions today and in the future</p>
        <%= link_to "Get Networking!", advisors_path, class: "button" %>
      </div>
    </div>
    <div class="row show-for-small" id="main_hero_small">
      <div class="small-12 medium-12 large-12 columns" id="intro-text">
        <p id="header">HOB NOB</p>
      </div>
      <div class="small-12 medium-12 large-12 columns" id="intro-subtext">
        <p>Make strong career decisions today and in the future</p>
        <%= link_to "Get Networking!", advisors_path, class: "button" %>
      </div>
    </div>
  </header>


  <div class="parallax-content" id="home-parallax-content">

    <div class="row" id="home-container">
      <div class="small-12 medium-12 large-4 columns" id="home-small-box">
        <div class="home-subheader" id="1">
          <div class="home-icon" id="home-icon-1">
            <h1><i class="fa fa-calendar-plus-o fa-lg"></i></h1>
          </div>
          <h3>Services</h3>
          <p class="home-box-info" id="info-1">Get valuable insight direct from the source!</p>
          <p class="home-box-toggle"id="info1">Networking and the informational interview are two of the most valuable tools in a successful career. Hob Nob makes it easy to expand your network and reach your goals.</p>
        </div>
      </div>

      <div class="small-12 medium-12 large-4 columns" id="home-small-box">
        <div class="home-subheader" id="2">
          <div class="home-icon" id="home-icon-2">
            <h1><i class="fa fa-users fa-lg"></i></h1>
          </div>
          <h3>Network</h3>
          <p class="home-box-info" id="info-2">Help support the communities we live in!</p>
          <p class="home-box-toggle" id="info2">Our Professionals have volunteered their time and are prepared to answer your questions. A portion of each connection fee will be donated to a charity of their choice.</p>
        </div>
      </div>

      <div class="small-12 medium-12 large-4 columns" id="home-small-box">
        <div class="home-subheader" id="3">
          <div class="home-icon" id="home-icon-3">
            <h1><i class="fa fa-phone fa-lg"></i></h1>
          </div>
          <h3>Connection</h3>
          <p class="home-box-info" id="info-3">Start building your Network today!</p>
          <p class="home-box-toggle" id="info3">Search our Network, check for available dates, times and fees and get connected. Have a meaningful career discussion and make the best informed career decision possible.</p>
        </div>
      </div>
    </div>


    <div class="row" id="get-networking">
      <h3 class="standard-heading">Ready to make your move?</h3>
      <%= link_to "Get Networking!", advisors_path, class: "button" %>
    </div>
    <div class="line-break"></div>
    <div class="row" id="learn-more">
      <h3 class="standard-heading">Need more information?</h3>
      <%= link_to "More", root_path, class: "button", id: "home-learn-link" %>
    </div>
    <div class="row" id="learn-toggle">
      <div class="small-12 medium-12 large-10 large-centered columns" id="home-toggle-info">
        <div class="row">
          <h1 class="learn-toggle">1. SEARCH OUR NETWORK</h1>
          <p class="learn-toggle"> We divided our Network of Professionals into 5 Areas of Expertise. These professionals represent various roles and companies, three levels of work experience, and different locations around the world. We are launching our business in Canada, so the majority of professionals are in the Toronto area. Some professionals work outside of Canada and have great insight and advice for working professionals looking to relocate or students looking to find an internship in another country. As we expand our network, you will see more and more global professionals from the large Financial Centers around the world.</p>
        </div>
        <div class="row">

          <h1 class="learn-toggle">2. SCHEDULE a SESSION </h1>
          <p class="learn-toggle">We recommend that you spend time reviewing the network. Think about the area of expertise that interests you or that you want to know more about, the level of professional you want to speak with, and the location where you would like to be working. Select one or more professionals that can provide you with answers to your questions. Each expert has provided dates and times that they are available to connect. As part of our service and commitment to you; we will prep you for the call and provide you with questions to ask so that your connection helps you make the best career decision possible.</p>
        </div>
        <div class="row">
          <h1 class="learn-toggle">3. GET CONNECTED</h1>
          <p class="learn-toggle">When you find the professionals you want to speak with, there is a GET CONNECTED button. We ask that you sign up so that we can contact you with information about your session. There is a connection fee based on the expert’s level of experience. We have special student rates and a portion of all connection fees donated to charity. After you check out, you will receive a confirmation e-mail followed by a calendar invite with all of the contact information. If you would like assistance in preparing for the call, please let us know. Even though this is not your opportunity to ask for a job, research has shown that the informational interview increases your chances of selection for an interview and ultimately getting a job offer.</p>
        </div>
      </div>
    </div>

    <div class="row" id="home-info-box">
      <h2>What people are saying about Hob Nob!</h2>
      <i class="fa fa-comments-o fa-5x"></i>
      <% if @user_comments %>
      <div id="comment-holder">
        <% @user_comments.each do |comment| %>
        <p class="hn-comment">"<%= comment.body %>"</p>
        <p class="commenter-name">- <%= comment.subtext %></p>
        <% end %>
      </div>
      <% end %>
      <% if admin_logged_in? %>
      <div class="small-12 medium-12 large-6 large-centered columns" id="form-box">
        <div class="form-holder" id="comments-form-holder">
          <%= render partial: "comments_form" %>
        </div>
        <%= link_to "Add Comment", root_path, class: "button", id: "add-comment-btn" %>
      </div>
      <% end %>
    </div>


<footer class="footer" id="parallax-footer">
<p class="slogan"><img id="nav_logo" src="/assets/hn_logo_small.png"/></p>

      <div class="links">
        <%= link_to "Home", root_path %>
        <p>  •  </p>
        <%= link_to "About", about_path %>
        <p>  •  </p>
         <%= link_to "Network", advisors_path %>
        <p>  •  </p>
        <%= link_to "The Network's Charities", " http://www.thepelikangroup.com/charities.html" , :target => "_blank" %>
      </div>

      <p class="copywrite">Pelikan Group Inc.</p>

</footer>


  </div>




