f<div class="container">
  <div class="parallax-background">
    <div class="intro-text">
      scroll for parallax!
      <p><i class="fi-arrow-down"></i></p>
    </div>
  </div>

  <div class="parallax-content">

    <h1 id="page-info-header">Make your move</h1>

    <div class="row" id="search-advisors-link">
      <%= link_to "Search Advisors", advisors_path, class: "button", id: "search-advisors-link" %>
    </div>
    <div class="small-12 medium-12 large-4 columns" id="home-small-box">
      <div class="home-subheader">
        <h1><i class="fa fa-users fa-lg"></i></h1>
        <h3>Search our Network </h3>
        <p>Start searching our exclusive network for a professional that has the information you are seeking.</p>
        <%= link_to "More", root_path, class: "learn-more", id: "home-search-link" %>
      </div>
    </div>
    <div class="small-12 medium-12 large-4 columns" id="home-small-box">
      <div class="home-subheader">
        <h1><i class="fa fa-calendar-plus-o fa-lg"></i></h1>
        <h3>Schedule an Appointment</h3>
        <p>Select a professional you would like to speak with and see what times work for you.</p>
        <%= link_to "More", root_path, class: "learn-more", id: "home-search-link" %>
      </div>
    </div>
    <div class="small-12 medium-12 large-4 columns" id="home-small-box">
      <div class="home-subheader">
        <h1><i class="fa fa-phone fa-lg"></i></h1>
        <h3>Get Connected</h3>
        <p>Speak with a professional about a finance topic of your choice.</p>
        <%= link_to "More", root_path, class: "learn-more", id: "home-search-link" %>
      </div>
    </div>

    <div class="small-12 medium-12 large-12 columns" id="home-toggle-info">
      <h1 class="search-toggle">Search our Network</h1>
      <p class="search-toggle">There are 5 main categories of Finance Professional with a brief outline of roles within that area. If you are just starting your career, we recommend that you speak with professionals that have 1-5 years of experience. These professionals have an excellent idea of some of the challenges you will face. If you are writing your resume or want to be as prepared as possible for an interview, we have experts on the Network that specialize in resume writing and intensive 1 on 1 interview preparation.</p>

      <h1 class="schedule-toggle">Schedule an Appointment </h1>
      <p class="schedule-toggle">Spend time reviewing the Network and see what the professionals have to offer. We carefully selected these professionals based upon their experience and background. Select one or a few professionals that can provide you with the career answers you need to make the best decision possible.</p>
      <h1 class="connect-toggle">Get Connected</h1>
      <p class="connect-toggle">Once you have identified professionals to speak with, you will click the GET CONNECTED button. This will bring you to the payment page. Each professional has provided dates and times when they are available. If you don’t see a date or time, then select another professional or add your name to the waiting list. Working in Finance requires time and commitment. Please respect the professional’s privacy and work within their schedule. Everyone on the Network wants to speak with you. Please be patient.</p>
    </div>

    <div class="row" id="home-info-box">

      <div class="small-10 small-centered medium-10 medium-centered large-9 large-centered columns">
        <p class="page-text"> Services</p>
        <p class="more-info">Tailored to meet your career needs. Find out how to differentiate yourself in a competitive environment.</p>
        <p class="more-info">If you are a student or are just starting your Finance career and want to understand different opportunities within Finance or want to know how to differentiate yourself in a competitive environment, click <%= link_to "Network Overview", "/network_overview" %></p>
      </div>

      <div class="small-10 small-centered medium-10 medium-centered large-9 large-centered columns">
        <p class="page-text">The Network</p>
        <p class="more-info">A network of finance professionals that have volunteered their time and expertise to speak with you about your career.</p>
        <p class="more-info">Our Finance Professionals are prepared to answer questions in many different areas of Finance and on various different topics. A portion of each connect session will be donated to a charity of their choice. Help support the community we live in by meeting those in our Network today! To start, click <%= link_to "Get Networking" %></p>
      </div>

      <div class="small-10 small-centered medium-10 medium-centered large-9 large-centered columns">
        <p class="page-text">Getting Connected</p>
        <p class="more-info">Search through our Network for the professional with the information you need. After reviewing what they have to offer, check for available dates, times and fees. To schedule your conversation, click <%= link_to "Get Connected" %></p>
      </div>
    </div>
</div>
</div>