

  <div class="hero">
    <div class="row">
      <div class="small-12 medium-12 large-12 columns" id="intro-text">
        <p id="header">HOB NOB</p>
      </div>
      <div class="small-12 medium-12 large-12 columns" id="intro-subtext">
        <p>Make strong career decisions today and in the future</p>
        <%= link_to "Get Networking!", advisors_path, class: "button" %>
      </div>
    </div>
  </div>


  <div class="parallax-content">


    <div class="row" id="home-container">
      <div class="small-12 medium-12 large-4 columns" id="home-small-box">
        <div class="home-subheader" id="1">
          <div class="home-icon" id="home-icon-1">
            <h1><i class="fa fa-calendar-plus-o fa-lg"></i></h1>
          </div>
          <h3>Services</h3>
          <p class="home-box-info" id="info-1">Networking and the informational interview are two of the most valuable tools in a successful career. Hob Nob makes it easy to expand your network and reach your goals.</p>
          <p class="home-box-toggle"id="info1">Get valuable insight direct from the source!</p>
        </div>
      </div>

      <div class="small-12 medium-12 large-4 columns" id="home-small-box">
        <div class="home-subheader" id="2">
          <div class="home-icon" id="home-icon-2">
            <h1><i class="fa fa-users fa-lg"></i></h1>
          </div>
          <h3>Network</h3>
          <p class="home-box-info" id="info-2">Our Professionals have volunteered their time and are prepared to answer your questions. A portion of each connection fee will be donated to a charity of their choice.</p>
          <p class="home-box-toggle" id="info2">Help support the communities we live in!</p>
        </div>
      </div>
      <div class="small-12 medium-12 large-4 columns" id="home-small-box">
        <div class="home-subheader" id="3">
          <div class="home-icon" id="home-icon-3">
            <h1><i class="fa fa-phone fa-lg"></i></h1>
          </div>
          <h3>Connection</h3>
          <p class="home-box-info" id="info-3">Search our Network, check for available dates, times and fees and get connected. Have a meaningful career discussion and make the best informed career decision possible.</p>
          <p class="home-box-toggle" id="info3">Start building your Network today!</p>
        </div>
      </div>
    </div>


    <div class="row">
      <h1 id="page-info-header">Ready to make your move?</h1>
    </div>
    <div class="row" id="search-advisors-link">
      <%= link_to "Get Networking!", advisors_path, class: "button" %>
    </div>
    <div class="line-break"></div>
    <div class="row" id="learn-more">
      <p>For step by step directions, click MORE below:</p>
      <%= link_to "More", root_path, class: "button", id: "home-learn-link" %>
    </div>
    <div class="row" id="learn-toggle">
      <div class="small-12 medium-12 large-12 columns" id="home-toggle-info">
        <div class="row">
          <h1 class="learn-toggle">1. Search our Network</h1>
          <p class="learn-toggle">There are 5 main categories of Finance Professional with a brief outline of roles within that area. If you are just starting your career, we recommend that you speak with professionals that have 1-5 years of experience. These professionals have an excellent idea of some of the challenges you will face. If you are writing your resume or want to be as prepared as possible for an interview, we have experts on the Network that specialize in resume writing and intensive 1 on 1 interview preparation.</p>
        </div>
        <div class="row">

          <h1 class="learn-toggle">2. Schedule an Appointment </h1>
          <p class="learn-toggle">Spend time reviewing the Network and see what the professionals have to offer. We carefully selected these professionals based upon their experience and background. Select one or a few professionals that can provide you with the career answers you need to make the best decision possible.</p>
        </div>
        <div class="row">
          <h1 class="learn-toggle">3. Get Connected</h1>
          <p class="learn-toggle">Once you have identified professionals to speak with, you will click the GET CONNECTED button. This will bring you to the payment page. Each professional has provided dates and times when they are available. If you don’t see a date or time, then select another professional or add your name to the waiting list. Working in Finance requires time and commitment. Please respect the professional’s privacy and work within their schedule. Everyone on the Network wants to speak with you. Please be patient.</p>
        </div>
      </div>
    </div>

    <div class="row" id="home-info-box">
      <h2>What people are saying about Hob Nob!</h2>
      <i class="fa fa-comments-o fa-5x"></i>
      <% if @user_comments %>
      <div id="comment-holder">
        <% @user_comments.each do |comment| %>
        <p class="hn-comment">"<%= comment.body %>"</p>
        <p class="commenter-name">- <%= comment.subtext %></p>
        <% end %>
      </div>
      <% end %>
      <% if admin_logged_in? %>
      <div class="small-12 medium-12 large-6 large-centered columns" id="form-box">
        <div class="form-holder" id="comments-form-holder">
          <%= render partial: "comments_form" %>
        </div>
        <%= link_to "Add Comment", root_path, class: "button", id: "add-comment-btn" %>
      </div>
      <% end %>
    </div>
    <div id="home-charity-box">
      <div id="home-charity-header">
        <h1>Help support</h1>
        <h2>the communities we live in!</h2>
      </div>
      <% if @charities %>
      <ul id="charity-list">
      <% @charities.each do |charity| %>
        <li><%= charity.body %></li>
      <% end %>
      </ul>
      <% end %>
      <% if admin_logged_in? %>
      <div class="small-12 medium-12 large-6 large-centered columns" id="form-box">
        <div class="form-holder" id="charities-form-holder">
          <%= render partial: "charity_form" %>
        </div>
        <%= link_to "Add Charity", root_path, class: "button", id: "add-charity-btn" %>
      </div>
      <% end %>
    </div>

<footer class="footer" id="home-footer">
      <p class="slogan">HOBNOB</p>
      <p class="links">
        <%= link_to "Home", root_path %>
        <%= link_to "About", about_path %>
        <%= link_to "Contact Us" %>
      </p>
      <p class="copywrite">© 2015 T-Tree</p>
</footer>


  </div>




