<header id="order_page">
</header>




<div id='order_div' class="large-4 centered-columns">
  <%= form_for @order do |f| %>
  <% if @order.errors %>
  <% @order.errors.full_messages.each do |message| %>
  <%= message %>
  <% end %>
  <% end %>

  <div class="row">
    <div class="large-10 large-centered small-11 small-centered columns">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
  </div>


  <div class="row">
    <div class="large-10 large-centered small-11 small-centered columns">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
  </div>


  <div class="row">
    <div class="large-10 large-centered small-11 small-centered columns">
      <%= f.label :card_type %>
      <i class="fa fa-credit-card"></i>
      <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>
    </div>
  </div>

  <div class="row">
    <div class="large-10 large-centered small-11 small-centered columns">
      <%= f.label :card_number %>
      <%= f.text_field :card_number %>
    </div>
  </div>

  <div class="row">
    <div class="large-10 large-centered small-11 small-centered columns">
      <%= f.label :card_verification, "Card Verification Value (CVV)" %>
      <%= f.text_field :card_verification %>
    </div>
  </div>

  <div class="row">
    <div class="large-10 large-centered small-11 small-centered columns">
      <%= f.label :card_expires_on %>
      <%= date_select(:order,:card_expires_on, :use_month_numbers => true) %>
      <%= f.submit "Submit" %>
      <% end %>
    </div>
  </div>
</div>


<div class='row'>
  <div id='order_summary' class='large-3 columns'>
    <p id='order_p'><%= "Order Summary (" + @current_cart.potential_appointments.count.to_s + " item)" %></p>
    <% @current_cart.potential_appointments.each do |appointment| %>
    <div class='row' id='order_item'>
      <div class='large-3 columns'>
       <%= image_tag Advisor.find_by(id:appointment.advisor_id).avatar.url(:thumb) %>
     </div>
     <div class='large-7 columns'><%= Advisor.find_by(id:appointment.advisor_id).firstname %>
     </div>
     <div class='large-7 columns'>
       <%= appointment.title  %>
     </div>
     <div id='order_time' class='large-7 columns'>
      <%= appointment.start_time.strftime("%A, %B %d, %Y at %l:%M %p") %>
      <%= appointment.end_time.strftime("to %l:%M %p") %>
    </div>
  </div>
  <% end %>
</div>