<!DOCTYPE html>
<html lang="en">
<style>
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #5D6975;
  text-decoration: underline;
}

body {
  position: relative;
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  color: #001028;
  background: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-family: Arial;
}

header {
  padding: 10px 0;
  margin-bottom: 30px;
}

#logo {
  text-align: center;
  margin-bottom: 10px;
}

#logo img {
  width: 90px;
}

h1 {
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  color: #5D6975;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
}

#project {
  float: left;
}

#project span {
  color: #5D6975;
  text-align: right;
  width: 52px;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.8em;
}

#company {
  float: right;
  text-align: right;
}

#project div,
#company div {
  white-space: nowrap;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table tr:nth-child(2n-1) td {
  background: #F5F5F5;
}

table th,
table td {
  text-align: center;
}

table th {
  padding: 5px 20px;
  color: #5D6975;
  border-bottom: 1px solid #C1CED9;
  white-space: nowrap;
  font-weight: normal;
}

table .service,
table .desc {
  text-align: left;
}

table td {
  padding: 20px;
  text-align: right;
}

table td.service,
table td.desc {
  vertical-align: top;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}

table td.grand {
  border-top: 1px solid #5D6975;;
}

#notices .notice {
  color: #5D6975;
  font-size: 1.2em;
}

footer {
  color: #5D6975;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0;
  text-align: center;
}

#hobnob_invoice{
  text-align: center
}

#karen_email{
    margin-bottom: 3em;
}
</style>

<head>
  <meta charset="utf-8">
  <title>Example 1</title>
  <link rel="stylesheet" href="style.css" media="all" />
</head>
<body>
  <header class="clearfix">
    <h2 id='hobnob_invoice'>HOBNOB</h2>
    <h1><%= "INVOICE: " + @order.id.to_s %> </h1>
    <div id="company" class="clearfix">
      <div>Hobnob</div>
      <div>Toronto,Canada</div>
      <div>1.416.300.9162</div>
      <div id='karen_email'>karen@thepelikangroup.com</div>
    </div>
    <div id="project">
      <div><span>NAME</span> <%=  @current_user.first_name + " " + @current_user.last_name %></div>
      <div><span>EMAIL</span> <%= @current_user.email %></a></div>
      <div><span>DATE</span> <%= Date.today.strftime("%B %d, %Y") %> </div>
    </div>
  </header>
  <main>
    <table>
      <thead>
        <tr>
          <th class="service">NETWORK</th>
          <th class="desc">DESCRIPTION</th>
          <th>PRICE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @appointments.each do |appointment| %>
          <td class="service"><%= appointment.advisor.firstname + " " + appointment.advisor.lastname %></td>
          <td class="desc"><%= appointment.start_time.strftime("%A, %B %d, %Y") %><br><%= appointment.title %><br><%= appointment.start_time.strftime("%l:%M %p") %><%= appointment.end_time.strftime(" to %l:%M %p") %></td>
          <% if @current_user.student == true %>
          <td class="unit"><%= '$' +  appointment.advisor.student_price.to_s%></td>
          <% else %>
          <td class="unit"><%='$' + appointment.advisor.regular_price.to_s %></td>
          <% end %>
        </tr>
        <%end %>
        <tr>
          <td colspan="2" class="grand total">GRAND TOTAL</td>
          <% if @current_user.student == true %>
          <td class="grand total"><%= '$' + @order.total_for_student.to_s%></td>
          <% else %>
          <td class="grand total"><%= '$' + @order.total_for_regular.to_s%></td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <div id="notices">
      <div></div>
      <div class="notice"></div>
    </div>
  </main>
  <footer>
  </footer>
</body>
</html>