<header id="cart_page">
</header>

<div id='cart_header' class='row'>
  <div class='large-5 columns' id="shopping-cart-header"><h1>Your Shopping Cart</h1></div>
  <% if @cart.potential_appointments.count > 0 %>
  <div class='large-4 large-offset-4 small-3 columns'><h6>Price</h6></div>
  <% end %>
</div>

<div id="items-holder">
  <% @cart.potential_appointments.each do |appointment|  %>
  <div id='item_in_cart' class='row'>
    <div class='small-4 medium-3 large-3 columns' id="advisor-index-avatar">
        <%= image_tag appointment.advisor.avatar.url(:medium) %>
        <h3 id='advisor_name_cart'> <%= Advisor.find_by(id:appointment.advisor_id).firstname %></h3>
    </div>
    <div id='item_info' class='small-6 medium-6 large-6 columns'>
      <h4 id='app_title'><%= appointment.title %></h4>
      <%= appointment.start_time.strftime("%A, %B %d, %Y at %l:%M %p") %>
      <%= appointment.end_time.strftime("to %l:%M %p") %>
    </div>
    <div class='small-2 medium-3 large-3 columns'>
      <% if current_user.student == true %>
      <p class='app_price'> <%='$' + Advisor.find_by(id:appointment.advisor_id).student_price.to_s %></p>
      <% else %>
      <p class='app_price'> <%='$' + Advisor.find_by(id:appointment.advisor_id).regular_price.to_s %>
      <% end %>
      <%= link_to "Remove ", {:controller => 'carts', :action => 'destroy', :potential_appointment => appointment.id}, :method => :delete %><i class="fa fa-trash"></i>
    </div>
  </div>
  <% end %>
</div>
<div class ='row'>
  <div id='cart_total' class='large-3 large-offset-6 small-4 small-offset-8 columns'>
    <% if @cart.potential_appointments.count > 0 %>
    <% if current_user.student == true %>
    <%= "Subtotal (" + @cart.potential_appointments.count.to_s + " items): $" + @cart.total_price_student.to_s %>
    <% else %>
    <%= "Subtotal (" + @cart.potential_appointments.count.to_s + " items): $" + @cart.total_price_regular.to_s %>
    <% end %>
    <%= link_to "Checkout", new_order_path %>
  </div>
  <% else %>
  <div class'row'>
    <h1 id='cart-empty'>Your cart is empty!</h1>
  </div>
  <% end %>
</div>
</div>
