<div class="row" id="ribbon-header">
</div>

<div class='small-12 medium-3 large-4 columns' id="appointment-form">

    <%= form_for @potential_appointment do |f| %>
    <h2 id='appointment_header'>Edit Connect Date & Time </h2>
    <%= flash[:pick_date_or_enter_title] %>




    <div class="row">
      <div class="small-11 small-centered medium-10 medium-centered large-8 large-centered columns">
        <%= f.label :title %>
        <%= @potential_appointment.title %>
      </div>
    </div>

    <div class="row">
      <div class="small-11 small-centered medium-10 medium-centered large-8 large-centered columns">
        <%= f.label :date %>
        <%= date_field(:appointment_date,"date") %>
      </div>
    </div>
    <div class="row">
      <div class="small-11 small-centered medium-10 medium-centered large-10 large-centered columns">
        <%= f.label :Start_Time %>
        <%= time_select 'potential_appointment', 'start_time', {ampm: true, :time_separator => ""}, class: "start_time" %>

        <%= f.label :Length %>
        <% if @advisor.category.name == "Resume & Interview Preparation" %>
        <p class="appt-length">1 Hour</p>
        <% else %>
        <p class="appt-length">30 Minutes</p>
        <% end %>
      </div>
    </div>
    <div class="row" id="calendar-button-div">
      <%= f.submit "Update Appointment", { :class => "button", id: "calendar_button" } %>
    </div>
    <% end %>
  </div>
