<div class="row" id="ribbon-header">
</div>


<div class="row">
  <div class="small-12 medium-12 large-8 large-centered columns" >
    <div class="panel" id="edit-panel">

      <% if flash[:thank_you] %>
      <div class="row">
        <div class="small-11 small-centered medium-10 medium-centered large-7 columns">
          <div data-alert class="alert-box success radius">
            <%= flash[:thank_you] %>
          </div>
        </div>
      </div>
      <% end %>

      <div class="row">
        <div class="small-12 small-centered medium-12 medium-centered large-12 large-centered columns" id="page_header">
          <h1>Your Network Profile</h1>
        </div>
      </div>

      <div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
          <p id="form_directions">Please take some time to fill in the following details:</p>
          <p id="form_note">*Fields will not be shown on your profile page</p>
        </div>
      </div>

      <% if flash[:errors] %>
      <% flash[:errors].each do |msg| %>
      <div class="row">
        <div class="small-11 small-centered medium-10 medium-centered large-7 large-centered columns">
          <div data-alert class="alert-box alert radius">
            <%= msg %>
          </div>
        </div>
      </div>

      <% end %>

      <% end %>
      <%= form_for @advisor, url: advisor_path(@advisor), html: { multipart: true, :class => "custom", :id => "edit_signup" } do |f| %>
      <%= f.hidden_field :password_confirmation,:value => @advisor.password_digest %>
      <%= f.hidden_field :email_confirmation, :value => @advisor.email %>

      <div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">

            <div id="advisor-index-avatar">
              <%= image_tag current_advisor.avatar.url(:medium) %>
            </div>
          <%= f.label "Upload a photo" %>
          <%= f.file_field :avatar %>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
          <%= f.label "Alternative Email*" %>
          <%= f.text_field :alternative_email, placeholder: "Alternative email" %>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
          <%= f.label "Current Company*" %>
          <%= f.text_field :company, placeholder: "Company title" %>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
          <%= f.label "Current Title" %>
          <%= f.text_field :current_title, placeholder: "Current title" %>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
          <%= f.label "Job Description" %>
          <%= f.text_area(:job_description, cols:10, rows: 10) %>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
          <%= f.label "Charity/Organization(s)" %>
          <%= f.text_field :charity, placeholder: "Charity of choice" %>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
          <%= f.label "Location" %>
          <%= f.select :location, options_for_select(cities) %>
          <div class="spacer"></div>
        </div>
      </div>

      <div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
          <%= f.label "Areas of experience" %>
          <div class="row">
            <div class="small-1 medium-1 large-1 columns">
              <%= check_box_tag "category[name][]", "Investment Banking", @current_categories.find_by(name: "Investment Banking"), class: "category-checkbox" %>
            </div>
            <div class="small-11 medium-11 large-11 columns">
              <p class="checkbox-label">Investment Banking</p>
            </div>
          </div>
          <div class="row">
            <div class="small-1 medium-1 large-1 columns">
              <%= check_box_tag "category[name][]", "Asset Management", @current_categories.find_by(name: "Asset Management"), class: "category-checkbox" %>
            </div>
            <div class="small-11 medium-11 large-11 columns">
              <p class="checkbox-label">Asset Management</p>
            </div>
          </div>
          <div class="row">
            <div class="small-1 medium-1 large-1 columns">
              <%= check_box_tag "category[name][]", "Corporate Finance Divisions", @current_categories.find_by(name: "Corporate Finance Divisions"), class: "category-checkbox"  %>
            </div>
            <div class="small-11 medium-11 large-11 columns">
              <p class="checkbox-label">Corporate Finance Divisions</p>
            </div>
          </div>
          <div class="row">
            <div class="small-1 medium-1 large-1 columns">
              <%= check_box_tag "category[name][]", "Other Finance Opportunities", @current_categories.find_by(name: "Other Finance Opportunities"), class: "category-checkbox" %>
            </div>
            <div class="small-11 medium-11 large-11 columns">
              <p class="checkbox-label">Other Finance Opportunities</p>
            </div>
          </div>
          <div class="row">
            <div class="small-1 medium-1 large-1 columns">
              <%= check_box_tag "category[name][]", "Resume & Interview Prep", @current_categories.find_by(name: "Resume & Interview Prep"), class: "category-checkbox" %>
            </div>
            <div class="small-11 medium-11 large-11 columns">
              <p class="checkbox-label">Resume & Interview Prep</p>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>

      <div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
          <%= f.label "Years of experience" %>
          <%= f.select :years_of_experience,['< 5 years', '5 - 15 years', '> 15 years'] %>
          <div class="spacer"></div>
        </div>
      </div>

      <div id='prev_comp' class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
          <%= f.label "Previous Companies" %>

          <% if @advisor.other_companies == nil %>
          <%= text_field_tag "companies[]",nil,placeholder: "1. Company Name" %>
          <%= text_field_tag "companies[]",nil,placeholder: "2. Company Name" %>
          <%= text_field_tag "companies[]",nil,placeholder: "3. Company Name" %>
          <% else %>

          <%= text_field_tag "companies[]",@advisor.other_companies.split(',')[0],placeholder: "1. Company Name" %>
          <%= text_field_tag "companies[]",@advisor.other_companies.split(',')[1],placeholder: "2. Company Name" %>
          <%= text_field_tag "companies[]",@advisor.other_companies.split(',')[2],placeholder: "3. Company Name" %>
          <% end %>
          <div class="spacer"></div>
        </div>
      </div>


      <div id='test' class="row"></div>
      <div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
          <%= f.label "Education" %>
          <%= f.text_field :education, placeholder: "Education" %>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
          <%= f.label "Certification(s)" %>
          <%= f.text_field :certifications, placeholder: "Certification" %>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
          <%= f.label "Other Information" %>
          <%= f.text_area(:interesting_facts, cols:10, rows: 10) %>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns" id='pro'>
          <%= f.submit "Update Profile", :class => "button", :id => "update_profile_button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

