<header class="edit_hero">
  <img src="/assets/header_2.png"/>
</header>

<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <div class="panel" id="edit-panel">


      <div class="row">
        <div class="small-12 small-centered medium-12 medium-centered large-12 large-centered columns">
          <h1 id="page_header">Edit Your Profile</h1>
        </div>
      </div>

      <div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
          <p id="form_directions">Please take some time to fill in the following details:</p>
          <p id="form_note">*Fields will not be shown on your profile page</p>
        </div>
      </div>

      <% if flash[:errors] %>
      <% flash[:errors].each do |msg| %>
      <p class="error-message"><%= msg %></p>
      <% end %>

      <% end %>
      <%= form_for @advisor, url: advisor_path(@advisor), html: { multipart: true } do |f| %>
      <%= f.hidden_field :password_confirmation,:value => @advisor.password_digest %>
      <%= f.hidden_field :email_confirmation, :value => @advisor.email %>

      <div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
          <%= f.label "Upload a photo" %>
          <%= f.file_field :avatar %>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
          <%= f.label "Alternative Email*" %>
          <%= f.text_field :alternative_email, placeholder: "Alternative email" %>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
          <%= f.label "Current Company*" %>
          <%= f.text_field :company, placeholder: "Company title" %>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
          <%= f.label "Current Title" %>
          <%= f.text_field :current_title, placeholder: "Current title" %>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
          <%= f.label "Job Description" %>
          <%= f.text_field :job_description, placeholder: "Job description" %>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
          <%= f.label "Charity/Organization(s)" %>
          <%= f.text_field :charity, placeholder: "Charity of choice" %>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
          <%= f.label "Location" %>
          <%= f.text_field :location, placeholder: "Location" %>
          <div class="spacer"></div>
        </div>
      </div>

      <div class="row">
        <div class="small-11 small-centered medium-10 large-7 columns">
          <%= f.label "Areas of experience" %>
          <%= check_box_tag "list[]", "Investment Banking" %>Investment Banking
          <br>
          <%= check_box_tag "list[]", "Asset Management" %>Asset Management
          <br>
          <%= check_box_tag "list[]", "Corporate Finance Divisions" %>Corporate Finance Divisions
          <br>
          <%= check_box_tag "list[]", "Other" %>Other Finance Opportunities
          <br>
          <%= check_box_tag "list[]", "Resume/Interview" %>Resume building & Interview Prep
        </div>
      </div>
      <div class="spacer"></div>

    <div class="row">
      <div class="small-11 small-centered medium-10 large-7 columns">
        <%= f.label "Years of experience" %>
        <%= f.text_field :years_of_experience, placeholder: "Years of Experience" %>
        <div class="spacer"></div>
      </div>
    </div>
    <div class="row">
      <div class="small-11 small-centered medium-10 large-7 columns">
        <%= f.label "Previous Companies" %>
        <%= f.text_field :other_companies, placeholder: "Previous Companies" %>
        <div class="spacer"></div>
      </div>
    </div>
    <div class="row">
      <div class="small-11 small-centered medium-10 large-7 columns">
        <%= f.label "Education" %>
        <%= f.text_field :education, placeholder: "Education" %>
        <div class="spacer"></div>
      </div>
    </div>
    <div class="row">
      <div class="small-11 small-centered medium-10 large-7 columns">
        <%= f.label "Certification(s)" %>
        <%= f.text_field :certifications, placeholder: "Certification" %>
        <div class="spacer"></div>
      </div>
    </div>
    <div class="row">
      <div class="small-11 small-centered medium-10 large-7 columns">
        <%= f.label "Other Information" %>
        <%= f.text_area(:interesting_facts, cols:10, rows: 10) %>
        <div class="spacer"></div>
      </div>
    </div>
    <div class="row">
      <div class="small-11 small-centered medium-10 large-7 columns">
        <%= f.submit "Update Profile", :class => "button" %>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>
