<h1>Edit Your Profile</h1>

<p>Please fill in the form below:</p>
<p>*Fields will not be show up on your profile page</p>
<%= form_for @advisor do |f| %>

  <%= f.hidden_field :password_confirmation,:value => @advisor.password_digest %>

  <%= f.hidden_field :email_confirmation, :value => @advisor.email %>

  <%= f.text_field :alternative_email, placeholder: "Alternative Email" %>
  <div class="spacer"></div>
  <%= f.text_field :current_title, placeholder: "Current Title" %>
  <div class="spacer"></div>
  <%= f.text_field :job_description, placeholder: "Job Description" %>
  <div class="spacer"></div>
  <%= f.text_field :charity, placeholder: "Charity of Choice" %>
  <div class="spacer"></div>
  <%= f.text_field :location, placeholder: "Location" %>
  <div class="spacer"></div>
  <%= f.text_field :company, placeholder: "Current Company" %>
  <div class="spacer"></div>
  <%= f.text_field :years_of_experience, placeholder: "Years of Experience" %>
  <div class="spacer"></div>
  <%= f.text_field :other_companies, placeholder: "Previous Companies" %>
  <div class="spacer"></div>
  <%= f.text_field :education, placeholder: "Education" %>
  <div class="spacer"></div>
  <%= f.text_field :certifications, placeholder: "Certification" %>
  <div class="spacer"></div>
  <%= f.text_field :interesting_facts, placeholder: "Other Information" %>
  <div class="spacer"></div>
  <%= f.submit "Update Profile", :class => "button" %>
<% end %>
