<div class="row">
  <div class="small-12 medium-12 large-12 columns" id="page-header">
    <h1>Advisors</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <% @advisors.each do |advisor| %>
      <div class="row">
        <div class="small-12 medium-12 large-12 columns">
          <div class="panel" id="profile-panel">
            <div class="row">
              <div class="small-3 medium-3 large-3 columns">
                <%= image_tag advisor.avatar.url(:thumb) %>
              </div>
              <div class="small-9 medium-9 large-9 columns">
                <div class-"row" id="index-advisor-info">
                  <div class="small-12 medium-12 large-12 columns">
                    <p id="index-advisor-name"><%= advisor.firstname %></p>
                    <div class="spacer"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="small-12 medium-12 large-12 columns">
                    <p><%= advisor.current_title %></p>
                    <div class="spacer"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="small-12 medium-12 large-12 columns">
                    <p><%= advisor.job_description %></p>
                    <div class="spacer"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="small-12 medium-12 large-12 columns">
                    <% advisor.categories.each do |category| %>
                      <%= link_to category.name, advisors_path, class: "index-categories-list" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

