<div class="container">

   <div class="small-12 medium-3 large-3 columns" id="left-category-bar">
    <% @categories.each do |category| %>
    <%= link_to category.name, "/categories/#{category.id}", class: "index-categories-list" %>
    <% end %>
    </div>

    <div class="small-12 medium-9 large-9 columns">
      <% @advisors.each do |advisor| %>
      <div class="panel" id="advisor-index-panel">
        <div class="row">
          <div class="small-3 medium-3 large-3 columns">
            <div id="advisor-index-avatar">
              <%= image_tag advisor.avatar.url(:medium) %>
            </div>
          </div>
          <div class="small-9 medium-9 large-9 columns">
            <div class-"row" id="index-advisor-info">
              <div class="small-12 medium-12 large-12 columns">
                <p id="index-advisor-name"><%= advisor.firstname %></p>
              </div>
              <div class="small-12 medium-12 large-12 columns">
                <p><%= advisor.current_title %> | <%= advisor.location %></p>
              </div>
              <div class="small-12 medium-12 large-12 columns">
                <% advisor.categories.each do |category| %>
                <%= link_to category.name, advisors_path, class: "advisor-categories-list" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
</div>