<header class="edit_hero">
  <img src="/assets/city_header1.png"/>
</header>

<div class="row" id="advisors-index-container">

  <div class="small-12 medium-12 large-3 columns" id="left-category-bar">
  <%= form_tag(advisors_path, :method => "get", id: "advisors-filter-form") do %>
    <div class="advisors-filter-subheader">
      <p>Finance Category</p>
      <button class="fa fa-search fa-lg" id="advisor-search-btn" type="submit"></button>
    </div>
    <div class="index-categories-list" >
      <p>Investment Banking</p>
      <%= check_box_tag "filter[category][]", "Investment Banking", false, class: "advisors-filter-checkbox" %>
    </div>
    <div class="index-categories-list" >
      <p>Asset Management</p>
      <%= check_box_tag "filter[category][]", "Asset Management", false, class: "advisors-filter-checkbox" %>
    </div>
    <div class="index-categories-list" >
      <p>Corporate Finance Divisions</p>
      <%= check_box_tag "filter[category][]", "Corporate Finance Divisions", false, class: "advisors-filter-checkbox" %>
    </div>
    <div class="index-categories-list" >
      <p>Resume & Interview Prep</p>
      <%= check_box_tag "filter[category][]", "Resume & Interview Prep", false, class: "advisors-filter-checkbox" %>
    </div>
    <div class="index-categories-list" >
      <p>Other Finance Opportunities</p>
      <%= check_box_tag "filter[category][]", "Other Finance Opportunities", false, class: "advisors-filter-checkbox" %>
    </div>
    <div class="advisors-filter-subheader">
      <p>Years of Experience</p>
    </div>
    <div class="index-categories-list" >
      <p>Less than 5 years</p>
      <%= check_box_tag "filter[years_of_experience][]", "< 5 years", false, class: "advisors-filter-checkbox" %>
    </div>
    <div class="index-categories-list" >
      <p>5 to 15 years</p>
      <%= check_box_tag "filter[years_of_experience][]", "5 - 15 years", false, class: "advisors-filter-checkbox" %>
    </div>
    <div class="index-categories-list" >
      <p>More than 15 years</p>
      <%= check_box_tag "filter[years_of_experience][]", "15 years <", false, class: "advisors-filter-checkbox" %>
    </div>
  <% end %>
  </div>

  <div class="small-12 medium-12 large-9 columns" id="advisors-list">
    <%= render partial: "advisors/results_index" %>
  </div>
</div>