<h1>Advisor Sign Up</h1>
<% if flash[:errors] %>
  <% flash[:errors].each do |msg| %>
    <p class="error-message"><%= msg %></p>
  <% end %>
<% end %>

<div class="row">
  <div class="large-6 columns">
    <div class="signup-panel">
      <%= form_for @advisor do |f| %>
        <div class="row">
          <div class="large-4 columns">
            <%= f.text_field :firstname, placeholder: "First Name" %>
            <div class="spacer"></div>
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns">
            <%= f.text_field :lastname, placeholder: "Last Name" %>
            <div class="spacer"></div>
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns">
            <%= f.text_field :email, placeholder: "Email" %>
            <div class="spacer"></div>
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns">
            <%= f.text_field :email_confirmation, placeholder: "Confirm Email" %>
            <div class="spacer"></div>
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns">
            <%= f.password_field :password, placeholder: "Password" %>
            <div class="spacer"></div>
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns">
            <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
            <div class="spacer"></div>
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns">
            <%= f.submit "Register", :class => "button" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>