<h1>Advisor Sign Up</h1>

<%= form_for @advisor do |f| %>
 <%= f.text_field :firstname, placeholder: "First Name" %>
  <div class="spacer"></div>
  <%= f.text_field :lastname, placeholder: "Last Name" %>
  <div class="spacer"></div>
  <%= f.text_field :email, placeholder: "Email" %>
  <div class="spacer"></div>
  <%= f.text_field :email_confirmation, placeholder: "Confirm Email" %>
  <div class="spacer"></div>
  <%= f.password_field :password, placeholder: "Password" %>
  <div class="spacer"></div>
  <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
  <div class="spacer"></div>
  <%= f.submit "Register", :class => "button" %>
<% end %>