
<header class="signup_hero">
  <img src="http://s3.amazonaws.com/hobnob-bucket-assets/meeting_header.png"/>
</header>



<div class="row">
  <div class="large-6 large-centered small-12 small-centered columns">
    <div class="signup-panel">
      <div class="row">
        <h2 id="signup_header">Join HOB NOB</h2>
        <p id="signup_advisor">Professional</p>
      </div>
      <div class="small-12 medium-11 medium-centered large-10 large-centered columns">
        <% if flash[:errors] %>
        <% flash[:errors].each do |msg| %>
        <div data-alert class="alert-box alert radius">
          <%= msg %>
        </div>
        <% end %>
        <% end %>
      </div>


<div class="small-12 medium-11 medium-centered large-10 large-centered columns">
          <% if flash[:error] %>
          <div data-alert class="alert-box alert radius">
            <%= flash[:error] %>
          </div>
          <% end %>
        </div>


      <%= form_for @advisor do |f| %>
      <div class="row">
        <div class="large-10 large-centered small-11 small-centered columns">
          <%= f.text_field :firstname, placeholder: "First Name" %>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="row">
        <div class="large-10 large-centered small-11 small-centered columns">
          <%= f.text_field :lastname, placeholder: "Last Name" %>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="row">
        <div class="large-10 large-centered small-11 small-centered columns">
          <%= f.text_field :email, placeholder: "Email" %>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="row">
        <div class="large-10 large-centered small-11 small-centered columns">
          <%= f.text_field :email_confirmation, placeholder: "Confirm Email" %>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="row">
        <div class="large-10 large-centered small-11 small-centered columns">
          <%= f.password_field :password, placeholder: "Password" %>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="row">
        <div class="large-10 large-centered small-11 small-centered columns">
          <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="row">
        <div class="large-10 large-centered small-11 small-centered columns">
          <%= f.submit "Register", :class => "full-button" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>