<div class="container">
  <div class="small-12 medium-12 large-12 columns" id='profile-panel'>
    <div class="row">
      <div class="small-3 medium-3 large-3 columns">
        <div id="advisor-profile-image">
          <div id="advisor-index-avatar">
            <%= image_tag @advisor.avatar.url(:medium) %>
          </div>
        </div>
        <%=link_to "Book An Appointment", '#', class: "button small" %>
        <% if session[:user_or_advisor_id] == @advisor.id && session[:class_type] == @advisor.class.name %>
        <%=link_to "Edit Profile", edit_advisor_path, class: "button" %>
        <% end %>
      </div>
      <div class="small-9 medium-9 large-9 columns" id="advisor-profile-bio">
        <div class="row">
          <p id="advisor-name-profile-page"><%= @advisor.firstname %></p>
          <p id="advisor-title-profile-page"><%= @advisor.current_title %> | <%= @advisor.company %></p>
          <p class="profile-info"><%= @advisor.location %></p>
          <div class="row">
            <div class="small-2 medium-2 large-2 columns">
              <p class='profile-subheader'>Description</p>
            </div>
            <div class="small-10 medium-10 large-10 columns">
              <p class="profile-info"><%= @advisor.job_description %></p>
            </div>
          </div>
          <div class="row">
            <div class="small-2 medium-2 large-2 columns">
              <p class='profile-subheader'>Services</p>
            </div>
            <div class="small-10 medium-10 large-10 columns">
            <% @advisor.categories.each do |category| %>
              <%= link_to category.name, advisors_path, class: "advisor-categories-list" %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="small-6 medium-6 medium large-6 columns" id="advisor-bio-panel">
    <div class="row">
      <div class="small-3 medium-3 large-3 columns">
        <p class='profile-subheader'>Previous</p>
      </div>
      <div class="small-9 medium-9 large-9 columns">
        <p class="profile-info">
        <% @advisor.other_companies.split(',').each do |company| %>
          <%= company %>
        <% end %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="small-3 medium-3 large-3 columns">
        <p class='profile-subheader'>Education</p>
      </div>
      <div class="small-9 medium-9 large-9 columns">
        <p class="profile-info"><%= @advisor.education %></p>
      </div>
    </div>
    <div class="row">
      <div class="small-3 medium-3 large-3 columns">
        <p class='profile-subheader'>Years of Experience</p>
      </div>
      <div class="small-9 medium-9 large-9 columns">
        <p class="profile-info"><%= @advisor.years_of_experience %></p>
      </div>
    </div>
  </div>
  <div class="small-6 medium-6 large-6 columns" id="advisor-bio-panel">
    <div class="row">
      <div class="small-3 medium-3 large-3 columns">
        <p class="profile-subheader">Certifications</p>
      </div>
      <div class="small-9 medium-9 large-9 columns">
        <p class="profile-info"><%= @advisor.certifications %></p>
      </div>
    </div>
    <div class="row">
      <div class="small-3 medium-3 large-3 columns">
        <p class='profile-subheader'>Charities</p>
      </div>
      <div class="small-9 medium-9 large-9 columns">
        <p class="profile-info"><%= @advisor.charity %></p>
      </div>
    </div>
    <div class="row">
      <div class="small-3 medium-3 large-3 columns">
        <p class="profile-subheader">Other Information</p>
      </div>
      <div class="small-9 medium-9 large-9 columns">
        <p class="profile-info"><%= @advisor.interesting_facts %></p>
      </div>
    </div>
  </div>

  <div class="small-12 medium-12 large-12 columns">
    <p>Availability</p>
  </div>

</div>

