
<div class="row">
  <div class="large-12 columns">
    <div class="panel" id='profile_header'>
      <h1><%= @advisor.current_title + " at " + @advisor.company %></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-3 columns ">
    <div class="panel">
      <%= image_tag @advisor.avatar.url(:medium) %>
      <h4><%= @advisor.firstname %></h4>
      <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
        <section class="section">
          <h5 class="title"><%= @advisor.location %>
          </section>
          <section class="section">
            <h5 class="title"><%=link_to "Book An Appointment", '#' %></h5>
          </section>
        </div>

      </div>
    </div>



    <div class="large-8 columns" id='profile-panel'>


      <div class="row">
        <%=link_to "Edit Profile", edit_advisor_path %>
        <div class="large-10 columns">
          <p class='profile-subheader'>
            Previous Companies</p>
            <div class="row">
              <% @advisor.other_companies.split(',').each do |company| %>
              <div class="large-10 columns"><p><%= company %></p></div>
            </div>
            <div class="row">
              <% end %>
            </div>
          </div>
        </div>




        <div class="row">
          <div class="large-10 columns">
            <p class='profile-subheader'>Education</p>
            <div class="row">
              <div class="large-10 columns">
                <p><%= @advisor.education %></p></div>
              </div>
              <div class="row">
              </div>
            </div>
          </div>



          <div class="row">
          <div class="large-10 columns">
            <p class='profile-subheader'>Other Information</p>
            <div class="row">
              <div class="large-10 columns">
                <p><%= @advisor.interesting_facts %></p></div>
              </div>
              <div class="row">
              </div>
            </div>
          </div>


        </div>



        <aside class="large-3 columns hide-for-small">

        </aside>

      </div>



