<header class="edit_hero">
  <img src="/assets/city_header2.png"/>
</header>

<div class="small-12 medium-3 large-3 columns" id='profile-panel'>
  <div id="advisor-profile-image">
    <div id="advisor-index-avatar">
      <%= image_tag @advisor.avatar.url(:medium) %>
    </div>
  </div>
  <div class="row" id="advisor-profile-bio">
    <p id="advisor-name-profile-page"><%= @advisor.firstname %></p>
    <p id="advisor-title-profile-page"><%= @advisor.current_title %></p>
    <p id="advisor-location-profile-page"><%= @advisor.location %></p>
  </div>
  <% if logged_in? && current_user %>
      <div class="row" id="advisor-consultation-price-box">
            <p class="dollar-sign">$</p>
              <% if current_user.student == true %>
              <p class="advisor-consultation-price"><%= @advisor.student_price %></p>
              <p class="advisor-consultation-label"> / consultation</p>
              <% else %>
              <p class="advisor-consultation-price"><%= @advisor.regular_price %></p>
              <p class="advisor-consultation-label"> / consultation</p>
              <% end %>

      </div>
      <% end %>
</div>

<div class="small-12 medium-9 large-9 columns" id="advisor-bio-panel">
  <p class="advisor-profile-header">About</p>
  <% if session[:user_or_advisor_id] == @advisor.id && session[:class_type] == @advisor.class.name %>
  <%= link_to "Edit Profile", edit_advisor_path(@advisor), id: "edit-profile-btn", class: "fa fa-edit fa-lg" %>
  <% end %>
  <div id="advisor-about">
    <div class="row">
      <div class="small-5 medium-4 large-2 columns">
        <p class='profile-subheader'>Description</p>
      </div>
      <div class="small-7 medium-8 large-4 columns">
        <p class="profile-info"><%= @advisor.job_description %></p>
      </div>
      <div class="small-5 medium-4 large-2 columns">
        <p class='profile-subheader'>Services</p>
      </div>
      <div class="small-7 medium-8 large-4 columns">
        <% @advisor.categories.each do |category| %>
        <p class="profile-info"><%= category.name %></p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="small-5 medium-4 large-2 columns">
        <p class='profile-subheader'>Previous</p>
      </div>
      <div class="small-7 medium-8 large-4 columns">
        <p class="profile-info">
          <% @advisor.other_companies.split(',').each do |company| %>
          <%= company %>
          <% end %>
        </p>
      </div>
      <div class="small-5 medium-4 large-2 columns">
        <p class='profile-subheader'>Education</p>
      </div>
      <div class="small-7 medium-8 large-4 columns">
        <p class="profile-info"><%= @advisor.education %></p>
      </div>
    </div>
    <div class="row">
      <div class="small-5 medium-4 large-2 columns">
        <p class='profile-subheader'>Years of Experience</p>
      </div>
      <div class="small-7 medium-8 large-4 columns">
        <p class="profile-info"><%= @advisor.years_of_experience %></p>
      </div>
      <div class="small-5 medium-4 large-2 columns">
        <p class="profile-subheader">Certifications</p>
      </div>
      <div class="small-7 medium-8 large-4 columns">
        <p class="profile-info"><%= @advisor.certifications %></p>
      </div>
    </div>
    <div class="row">
      <div class="small-5 medium-4 large-2 columns">
        <p class='profile-subheader'>Charities</p>
      </div>
      <div class="small-7 medium-8 large-4 columns">
        <p class="profile-info"><%= @advisor.charity %></p>
      </div>
      <div class="small-5 medium-4 large-2 columns">
        <p class="profile-subheader">Other Information</p>
      </div>
      <div class="small-7 medium-8 large-4 columns">
        <p class="profile-info"><%= @advisor.interesting_facts %></p>
      </div>
    </div>
  </div>



  <div id="advisor-appointment-box">
    <p class="advisor-profile-header">Available Times</p>
    <% if session[:user_or_advisor_id] == @advisor.id && session[:class_type] == @advisor.class.name %>
    <%= link_to "Create Appointment", new_potential_appointment_path, id: "create-appointment-btn", class: "fa fa-calendar-plus-o" %>
    <% end %>

    <% @advisor.potential_appointments.each do |pot_appointment| %>

      <% if pot_appointment.booked_status? == false %>
        <div class="row" id="appointment-time-box">

          <div class="small-3 medium-3 large-2 columns">
            <div class="appointment-date">
              <p class="appointment-day"><%= pot_appointment.start_time.strftime("%d") %></p>
              <p class="appointment-month"><%= pot_appointment.start_time.strftime("%b") %></p>
            </div>
          </div>
          <div class="small-8 medium-7 large-7 columns">
            <p class="appointment-time"><%= pot_appointment.start_time.strftime("%l:%M %p") %>
            <%= pot_appointment.end_time.strftime("to %l:%M %p EST") %>
            </p>
            <p class='appointment_title'><%= pot_appointment.title %></p>
            <p class="appointment-full-date"><%= pot_appointment.start_time.strftime("%A, %B %d, %Y") %>
            </p>
          </div>
          <div class="small-1 medium-2 large-3 columns" id="available-times-right-btn">
            <% if current_advisor == nil %>
            <% elsif %>
            <% pot_appointment.advisor_id == current_advisor.id && session[:class_type] == current_advisor.class.name %>
            <%= link_to "",edit_potential_appointment_path(pot_appointment), id: "profile-edit-appointment", class: "fa fa-edit" %>
            <%= link_to "",{:controller => 'potential_appointments', :action => 'destroy', :potential_appointment => pot_appointment.id}, :method => :delete, id: "profile-delete-appointment", class: "fa fa-trash" %>
            <% end %>

            <% if session[:class_type] != "Advisor" %>
              <%= form_for @advisor, url: cart_path, method: "patch" do |f| %>
                <%= f.hidden_field :appointment_id, :value => pot_appointment.id %>
                <%= f.submit "add", {:class => "fa fa-cart-plus", :id => "add_to_cart"} %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

