<div class="row" id="ribbon-header">
</div>


<div class="row" id="advisor-profile-container">
  <div class="small-12 medium-12 large-12 columns" id='profile-panel'>
    <div id="advisor-profile-image">
      <div id="advisor-index-avatar">
        <%= image_tag @advisor.avatar.url(:medium) %>
      </div>
    </div>
    <div class="row" id="advisor-profile-bio">
      <p id="advisor-name-profile-page"><%= @advisor.firstname %></p>
      <p id="advisor-title-profile-page"><%= @advisor.current_title %> | <%= @advisor.location %></p>
      <% if !@advisor.category.nil? %>
      <p id="advisor-category-profile-page"><%= @advisor.category.name %></p>
      <% end %>
    </div>
    <div class="flash-holder">
      <% if current_advisor == @advisor || session[:class_type] == "Admin" %>
      <% if @advisor.publish == false %>
      <p id="publish-profile-text">*Your profile is currently set to private. To set it to public, click below and please check PUBLISH</p>
      <% end %>
      <div id="advisor-edit-btn">
        <%= link_to "Edit Profile", edit_advisor_path(@advisor), class: "button" %>
      </div>
      <% end %>
      <p id='flash_add_cart'><%=flash[:added_to_cart] %></p>
      <p id='flash_already_cart'><%=flash[:already_in_cart] %></p>
      <% if current_user %>
      <div class="button" id="advisor-edit-btn">
        <%= link_to "Go to Briefcase", cart_path(current_user.carts.last), class: "fa fa-briefcase" %>
      </div>
      <% end %>
    </div>

  </div>



  <div class="small-12 medium-12 large-12 columns" id="advisor-bio-panel">
    <div class="row">
      <div class="small-12 medium-12 large-6 columns" id="advisor-bio-box">
        <p class="advisor-profile-header">Details</p>

        <div id="advisor-about">
          <div class="row">
            <div class="small-12 medium-4 large-4 columns">
              <p class='profile-subheader'>Current Company</p>
            </div>
            <div class="small-12 medium-8 large-8 columns">
              <p class="profile-info"><%= @advisor.general_company %></p>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-4 large-4 columns">
            </div>
            <div class="small-12 medium-8 large-8 columns">
              <p class="profile-info"><%= @advisor.job_description %></p>
            </div>
          </div>
          <div class="spacer">
          </div>
          <% if @previous_companies != [] %>
          <% @previous_companies.each do |company| %>
          <div class="row">
            <div class="small-12 medium-4 large-4 columns">
              <% if company == @previous_companies.first %>
              <p class='profile-subheader'>Previous Company(s)</p>
              <% end %>
            </div>
            <div class="small-12 medium-8 large-8 columns">
              <p class="profile-info">
                <%= company.name %>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-4 large-4 columns">
            </div>
            <div class="small-12 medium-8 large-8 columns">
              <p class="profile-info"><%= company.job_title %></p>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-4 large-4 columns">
            </div>
            <div class="small-12 medium-8 large-8 columns">
              <p class="profile-info"><%= company.roles %></p>
            </div>
          </div>
          <div class="spacer">
          </div>

          <% end %>
          <% end %>

          <div class="row">
            <div class="small-12 medium-4 large-4 columns">
              <p class='profile-subheader'>Education</p>
            </div>
            <div class="small-12 medium-8 large-8 columns">
              <p class="profile-info"><%= @advisor.education %></p>
            </div>
          </div>

          <div class="row">
            <div class="small-12 medium-4 large-4 columns">
              <p class='profile-subheader'>Years of Experience</p>
            </div>
            <div class="small-12 medium-8 large-8 columns">
              <p class="profile-info"><%= @advisor.years_of_experience %></p>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-4 large-4 columns">
              <p class="profile-subheader">Finance Certifications</p>
            </div>
            <div class="small-12 medium-8 large-8 columns">
              <p class="profile-info"><%= @advisor.certifications %></p>
            </div>
          </div>

          <div class="row">
            <div class="small-12 medium-4 large-4 columns">
              <p class='profile-subheader'>Language(s)</p>
            </div>
            <div class="small-12 medium-8 large-8 columns">
              <p class="profile-info"><%= @advisor.languages %></p>
            </div>
          </div>
          <div class="spacer">
          </div>
          <div class="row">
            <div class="small-12 medium-4 large-4 columns">
              <p class='profile-subheader'>Charity of Choice</p>
            </div>
            <div class="small-12 medium-8 large-8 columns">
              <p class="profile-info"><%= @advisor.charity %></p>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-4 large-4 columns">
            </div>
            <div class="small-12 medium-8 large-8 columns">
              <p class="profile-info"><%= @advisor.charity_url %></p>
            </div>
          </div>
          <div class="spacer">
          </div>


          <div class="row">
            <div class="small-12 medium-4 large-4 columns">
              <p class='profile-subheader'>Other Areas of Expertise</p>
            </div>
            <div class="small-12 medium-8 large-8 columns">
              <% if !@advisor.other_expertise.nil? %>
              <% @advisor.other_expertise.split(",").each do |expertise| %>
              <p class="profile-info"><%= expertise %></p>
              <% end %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-4 large-4 columns">
              <p class="profile-subheader">Other Information</p>
            </div>
            <div class="small-12 medium-8 large-8 columns">
              <p class="profile-info"><%= @advisor.interesting_facts %></p>
            </div>
          </div>
        </div>
      </div>

      <% if current_advisor == @advisor && !@advisor.category.nil? || session[:class_type] == "Admin" %>
      <div class='small-12 medium-12 large-6 columns' id="appointment-form">
        <p class="advisor-profile-header">Create Connect Date & Time</p>
        <%= form_for @potential_appointment do |f| %>
        <% if flash[:pick_date_or_enter_title] %>
        <div class="row">
          <div class="small-11 small-centered medium-10 medium-centered large-10 large-centered columns">
            <div data-alert class="alert-box alert radius">
              <%= flash[:pick_date_or_enter_title] %>
            </div>
          </div>
        </div>
        <% end %>

        <%= f.hidden_field :advisor_id, :value => @advisor.id %>

        <div class="row">
          <div class="small-11 small-centered medium-10 medium-centered large-10 large-centered columns">
            <%= f.label :title %>
            <p id="appointment-session">Session: <%= @advisor.category.name %></p>
          </div>
        </div>

        <div class="row">
          <div class="small-11 small-centered medium-10 medium-centered large-10 large-centered columns">
            <%= f.label :date %>
            <%= date_field(:appointment_date,"date") %>
          </div>
        </div>
        <div class="row">
          <div class="small-11 small-centered medium-10 medium-centered large-10 large-centered columns">
            <%= f.label :Start_Time %>
            <%= time_select 'potential_appointment', 'start_time', {ampm: true, :time_separator => "", minute_step: 15 }, class: "start_time" %>

            <%= f.label :Length %>

            <% if @advisor.category.name == "Resume & Interview Preparation" %>
            <p class="appt-length">1 Hour</p>
            <% else %>
            <p class="appt-length">30 Minutes</p>
            <% end %>


          </div>
        </div>
        <div class="row" id="calendar-button-div">
          <div class="small-11 small-centered medium-10 medium-centered large-10 large-centered columns">
            <%= f.submit "Create", :class => "full-button" %>
          </div>
        </div>
        <% end %>
      </div>
      <% else %>
      <div class='small-12 medium-12 large-6 columns' id="advisor-appointment-box">
        <p class="advisor-profile-header">Available Times</p>
        <div id="advisor-times">
          <% @advisor_appointments.each do |pot_appointment| %>

          <div class="row" id="appointment-time-box">

            <div class="small-6 medium-4 large-3 columns">

              <div class="row" id="appointment-date">
                <p class="appointment-day"><%= pot_appointment.start_time.strftime("%d") %></p>
                <p class="appointment-month"><%= pot_appointment.start_time.strftime("%b") %></p>
              </div>
            </div>
            <div class="small-12 medium-6 large-6 columns">
              <div class="row">
                <p class="appointment-time"><%= pot_appointment.start_time.strftime("%l:%M %p") %>
                  <%= pot_appointment.end_time.strftime("to %l:%M %p EST") %>
                </p>
                <p class='appointment_title'>Session: <%= pot_appointment.title %></p>
                <p class="appointment-full-date"><%= pot_appointment.start_time.strftime("%A, %B %d, %Y") %>
                </p>
              </div>
            </div>

            <% if logged_in? %>
            <div class="hide-for-small small-6 medium-2 large-3 columns" id="advisor-consultation-price-box">
              <p class="dollar-sign">$</p>
              <% if current_user && current_user.student == true %>
              <p class="advisor-consultation-price"><%= @advisor.student_price %></p>
              <p class="advisor-consultation-label">consultation</p>
              <% else %>
              <p class="advisor-consultation-price"><%= @advisor.regular_price %></p>
              <p class="advisor-consultation-label">consultation</p>
              <% end %>

            </div>
            <% end %>
            <% if !current_advisor %>
            <div class="small-12 medium-12 large-12 columns">

              <div class="row" id="available-times-right-btn">
               <%= form_for @advisor, url: cart_path, method: "patch" do |f| %>
               <%= f.hidden_field :appointment_id, :value => pot_appointment.id %>
               <% if pot_appointment.booked_status? == true %>
               <p id="appointment-status">Status:<span id='booked'> Booked</p>
               <% else %>
               <%= f.submit "Get Connected", class: "hide-for-small", :id => "add_to_cart_btn"%>
               <%= f.submit "Connect", class: "show-for-small", :id => "add_to_cart_btn_small"%>
               <% end %>
               <% end %>
             </div>
           </div>
           <% end %>
         </div>
         <% end %>
       </div>
     </div>

     <% end %>

   </div>

   <% if current_advisor == @advisor || session[:class_type] == "Admin" %>

   <div class="row">
    <div class="small-12 medium-12 large-12 columns" id="advisor-appointment-box">
      <p class="advisor-profile-header">Available Times</p>

      <div id="advisor-times">
        <% @advisor_appointments.each do |pot_appointment| %>

        <div class="row" id="appointment-time-box">

          <div class="small-12 medium-3 large-2 columns">

            <div class="row" id="appointment-date">
              <p class="appointment-day"><%= pot_appointment.start_time.strftime("%d") %></p>
              <p class="appointment-month"><%= pot_appointment.start_time.strftime("%b") %></p>
            </div>
          </div>
          <div class="small-12 medium-7 large-7 columns">
            <div class="row">
              <p class="appointment-time"><%= pot_appointment.start_time.strftime("%l:%M %p") %>
                <%= pot_appointment.end_time.strftime("to %l:%M %p EST") %>
              </p>
              <p class='appointment_title'>Session: <%= pot_appointment.title %></p>
              <p class="appointment-full-date"><%= pot_appointment.start_time.strftime("%A, %B %d, %Y") %>
              </p>
            </div>
          </div>
          <div class="small-12 medium-12 large-3 columns">

           <% if pot_appointment.advisor == current_advisor && session[:class_type] == current_advisor.class.name && pot_appointment.booked_status? == false || session[:class_type] == "Admin" && pot_appointment.booked_status? == false %>
           <div class="row">
            <div class="small-12 medium-12 large-12 columns" id="edit-appt-btn">
              <%= link_to "Edit",edit_potential_appointment_path(pot_appointment), class: "fa fa-edit" %>
            </div>
            <div class="small-12 medium-12 large-12 columns" id="edit-appt-btn">
              <%= link_to "Delete",{:controller => 'potential_appointments', :action => 'destroy', :potential_appointment => pot_appointment.id}, :method => :delete, class: "fa fa-trash" %>
            </div>
          </div>
          <% else %>
          <p id="appointment-status">Appointment Status:<span id='booked'> Booked</p>
          <% end %>
        </div>
      </div>



      <% end %>
    </div>
  </div>
</div>
<% end %>
</div>

</div>

