<div class="container">
  <div class="row">
    <div class="small-12 medium-3 large-3 columns" id='profile-panel'>
      <div id="advisor-profile-image">
        <div id="advisor-index-avatar">
          <%= image_tag @advisor.avatar.url(:medium) %>
        </div>
      </div>
      <div class="row" id="advisor-profile-bio">
        <p id="advisor-name-profile-page"><%= @advisor.firstname %></p>
        <p id="advisor-title-profile-page"><%= @advisor.current_title %> | <%= @advisor.location %></p>
        <% if session[:user_or_advisor_id] == @advisor.id && session[:class_type] == @advisor.class.name %>
        <%= link_to "Edit Profile", edit_advisor_path(@advisor), id: "edit-profile-btn", class: "button small" %>
        <% end %>
      </div>
    </div>

    <div class="small-12 medium-9 large-9 columns" id="advisor-bio-panel">
      <div class="row">
        <div class="small-5 medium-4 large-2 columns">
          <p class='profile-subheader'>Description</p>
        </div>
        <div class="small-7 medium-8 large-10 columns">
          <p class="profile-info"><%= @advisor.job_description %></p>
        </div>
      </div>
      <div class="row">
        <div class="small-5 medium-4 large-2 columns">
          <p class='profile-subheader'>Services</p>
        </div>
        <div class="small-7 medium-8 large-10 columns">
          <% @advisor.categories.each do |category| %>
          <p class="advisor-categories-list"><%= category %></p>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="small-5 medium-4 large-2 columns">
          <p class='profile-subheader'>Previous</p>
        </div>
        <div class="small-7 medium-8 large-4 columns">
          <p class="profile-info">
            <% @advisor.other_companies.split(',').each do |company| %>
            <%= company %>
            <% end %>
          </p>
        </div>
        <div class="small-5 medium-4 large-2 columns">
          <p class='profile-subheader'>Education</p>
        </div>
        <div class="small-7 medium-8 large-4 columns">
          <p class="profile-info"><%= @advisor.education %></p>
        </div>
      </div>
      <div class="row">
        <div class="small-5 medium-4 large-2 columns">
          <p class='profile-subheader'>Years of Experience</p>
        </div>
        <div class="small-7 medium-8 large-4 columns">
          <p class="profile-info"><%= @advisor.years_of_experience %></p>
        </div>
        <div class="small-5 medium-4 large-2 columns">
          <p class="profile-subheader">Certifications</p>
        </div>
        <div class="small-7 medium-8 large-4 columns">
          <p class="profile-info"><%= @advisor.certifications %></p>
        </div>
      </div>
      <div class="row">
        <div class="small-5 medium-4 large-2 columns">
          <p class='profile-subheader'>Charities</p>
        </div>
        <div class="small-7 medium-8 large-4 columns">
          <p class="profile-info"><%= @advisor.charity %></p>
        </div>
        <div class="small-5 medium-4 large-2 columns">
          <p class="profile-subheader">Other Information</p>
        </div>
        <div class="small-7 medium-8 large-4 columns">
          <p class="profile-info"><%= @advisor.interesting_facts %></p>
        </div>
      </div>
    </div>


    <div class="small-12 medium-9 large-9 columns" id="advisor-timeslot-panel">
      <p id="advisor-availability">Available Times</p>
      <% if session[:user_or_advisor_id] == @advisor.id && session[:class_type] == @advisor.class.name %>
      <%= link_to "Create Appointment", new_potential_appointment_path, id: "create-appointment-btn", class: "button small" %>
      <% end %>
      <% @advisor.potential_appointments.each do |pot_appointment| %>

      <% if pot_appointment.booked_status? == false %>
      <div class="appointment-time-box">
        <p class='appointment_title'><%= pot_appointment.title %></p>

        <p class="appointment-time"><%= pot_appointment.start_time.strftime("%A, %B %d, %Y at %l:%M %p") %>
          <%= pot_appointment.end_time.strftime("to %l:%M %p") %>
        </p>
        <% if current_advisor == nil %>
        <% elsif %>
        <% pot_appointment.advisor_id == current_advisor.id && session[:class_type] == current_advisor.class.name %>
        <%= link_to "Edit Appointment",edit_potential_appointment_path(pot_appointment) %>
        <br>
        <%= link_to "Delete Appointment",{:controller => 'potential_appointments', :action => 'destroy', :potential_appointment => pot_appointment.id}, :method => :delete %>
        <% end %>
        <% if session[:class_type] != "Advisor" %>
        <%= form_for @advisor, url: cart_path, method: "patch" do |f| %>
        <%= f.hidden_field :appointment_id, :value => pot_appointment.id %>
        <%= f.submit "Add to Cart", {:class => "button", :id => "add_to_cart"} %>
        <% end %>
        <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

