
<div class="row">
  <div class="small-12 medium-12 large-12 columns" id='profile-panel'>
    <div class="row">
      <div class="small-3 medium-3 large-3 columns">
        <div id="advisor-profile-image">
          <%= image_tag @advisor.avatar.url(:medium) %>
        </div>
        <%=link_to "Book An Appointment", '#', class: "button" %>
          <% if session[:user_or_advisor_id] == @advisor.id && session[:class_type] == @advisor.class.name %>
            <%=link_to "Edit Profile", edit_advisor_path, class: "button" %>
          <% end %>
      </div>
      <div class="small-9 medium-9 large-9 columns">
        <div class="row">
          <p><%= @advisor.firstname %></p>
          <p><%= @advisor.current_title %></p>
          <p><%= @advisor.company %></p>
          <p class="title"><%= @advisor.location %></p>
          <p class='profile-subheader'>Previous Companies</p>
          <% @advisor.other_companies.split(',').each do |company| %>
          <p><%= company %></p>
          <% end %>
          <p class='profile-subheader'>Education & Certifications</p>
          <p><%= @advisor.education %></p>
          <p><%= @advisor.certifications %></p>
          <p class='profile-subheader'>Other Information</p>
          <p><%= @advisor.interesting_facts %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-12 medium-centered large-12 large-centered columns">
    <div class="panel" id="profile-panel">
      <div class="row">
        <div class="small-12 medium-12 large-12 columns">
          <p class="profile-subheader">Available Times</p>
        </div>
      </div>
    </div>
  </div>
</div>



