<div class='fixed'>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

  <nav class="menu show-for-large-up ">
    <h1 class="name"><img id="nav_logo" src="/assets/hn_logo_small.png"/></h1>
    <ul class="inline-list">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li ><%= link_to "Network", advisors_path %></li>
      <li id='flash_add_cart'><%=flash[:added_to_cart] %></li>
      <li id='flash_already_cart'><%=flash[:already_in_cart] %></li>
      <li id='flash_already_cart'><%=flash[:item_remove] %></li>
    </ul>
      <ul class="inline-list account-action">
        <% if logged_in? %>

        <% if session[:class_type] == "User" %>
        <li><%= link_to "Profile",user_path(session[:user_or_advisor_id]) %></li>
        <%= link_to " My Briefcase", cart_path(current_user.carts.last), class: "fa fa-briefcase"%>
        <% else %>
        <li><%= link_to "Profile", advisor_path(session[:user_or_advisor_id]) %></li>
        <% end %>
        <li><%= link_to "Logout", logout_path, method: :delete, id: "logout-link" %></li>
        <% elsif admin_logged_in? %>
        <li><%= link_to "Show Network", network_members_path %>
        <li><%= link_to "Logout", admin_logout_path, method: :delete, id: "logout-link" %></li>
        <% else %>
        <li><%= link_to "Login", login_path %></li>
        <li class=""><a class="signup" href="/users/new" data-reveal-id="myModal">Signup</a></li>
        <% end %>
      </ul>
    </nav>


    <nav class="menu show-for-medium-only">
      <h1 class="name"><img id="nav_logo" src="/assets/hn_logo_small.png"/></h1>
      <ul class="inline-list">
        <li id='flash_add_cart'><%=flash[:added_to_cart] %></li>
        <li id='flash_already_cart'><%=flash[:already_in_cart] %></li>
        <li id='flash_already_cart'><%=flash[:item_remove] %></li>

      </ul>
      <%= link_to "Menu", "#", class: "mobile-header-dropdown", id: "medium-header-dropdown" %>
    </nav>

    <nav class="menu show-for-small-only">
      <ul class="inline-list">
        <h1 class="name" id="mobile-header-logo"><img id="nav_logo" src="/assets/hn_logo_small.png"/></h1>
        <li id='flash_add_cart'><%=flash[:added_to_cart] %></li>
        <li id='flash_already_cart'><%=flash[:already_in_cart] %></li>
        <li id='flash_already_cart'><%=flash[:item_remove] %></li>
        <%= link_to "Menu", "#", class: "mobile-header-dropdown", id: "small-header-dropdown" %>
      </ul>
    </nav>

    <ul class="mobile-header-menu">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Network", advisors_path %></li>
      <% if logged_in? %>
      <% if session[:class_type] == "User" %>
      <li><%= link_to "Profile",user_path(session[:user_or_advisor_id]) %></li>
      <li><%= link_to " My Briefcase", cart_path(current_user.carts.last), class: "fa fa-briefcase"%></li>
      <% else %>
      <li><%= link_to "Profile", advisor_path(session[:user_or_advisor_id]) %></li>
      <% end %>
      <li><%= link_to "Logout", logout_path, method: :delete, id: "logout-link" %></li>
      <% elsif admin_logged_in? %>
      <li><%= link_to "Show Network", network_members_path %></li>
      <li><%= link_to "Logout", admin_logout_path, method: :delete, id: "logout-link" %></li>
      <% else %>
      <li><%= link_to "Login", login_path %></li>
      <li><%= link_to "Signup", new_user_path %></li>
      <% end %>
    </ul>

  </div>